!!! 
%html
  %head
    %title= "#{controller.controller_name.camelize}##{controller.action_name}"
    = csrf_meta_tag
    = stylesheet_link_tag 'scaffold'
  %body
    - flash.each do |key, message|
      %p{:class => key}= message

    = yield

    = javascript_include_tag 'jquery-1.4.2.min', 'rails'
