!!! 
%html
  %head
    %title= "Scrappies:#{controller.action_name}"
    = csrf_meta_tag
    = stylesheet_link_tag 'scaffold'
  %body
    %p.notice= notice
    = yield

    = javascript_include_tag 'jquery-1.4.2.min', 'rails'